body {
	font-family: 'Open Sans', sans-serif;
	background: url(../img/bg.jpeg) no-repeat rgba(0, 0, 0, 0.5);
	background-size:cover;
	background-position:center;
	 
}


#info {
	margin: 0 auto;
	padding: 0 5%;
	color: rgb(250, 6, 67);

}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h3 {
	margin: 0 0 1em 0;	
}


header {
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

header a{
	text-align: center;
}

h1 {
	margin: 15px 0;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 0.8em;
}

h2 {
	font-size: 1.3em;
	font-family: 'Great Vibes', cursive;
	margin: -5px 0 0;
	font-weight: normal;
}


nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}



.profile-photo {
	display: block;
	width: 180px;
	margin: 0 auto 30px;
	border-radius: 100%;
	float: left;
}

.details{
	float: right;
	margin: 40px 0px;
}
.photo{
	width: 600px;
	margin: 0 auto;
}
.about{
	clear: both;
}
.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

body {
	background-color: #fff;
	color: #999;
}

header {
	background: #bf008c;
}
nav {
	background: #e8943b;
}
h1, h2 {
	color: #fff;
}
a {
	color: #329999;
}
nav a, nav a:visited {
	color: #fff;
}
nav a.selected, nav a:hover {
	color: #0c4646;
}